
body{
        background: #aaaaaa;
        background: linear-gradient(to right,#000,#aaa);
    }
.bg{
        background-image: url(../IMAGES/sima\ logo\ -\ copia.jpeg);
        background-position: center center;
    }
.text-end{
        display:flex;
        align-items: center;
        justify-content: center;
    }