:root{
    --width: 300px;
    --padding: 10px;
    --bg-color: #321d7a;
    --hovercolor:#6b6972;
    --width-collapsed:50px;
}
body{

   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width);
    
}

.principal{
    
    

}


#menu-navigation{
    color: white;
}
#menu{
    background-image: url(../IMAGES/fondo.jpg);
    background-repeat: no-repeat;
    color: black;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;    
}
#menu a{
    color: black;
    text-decoration: none;  
}

/* profile*/
#menu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding);
    text-align: center;
}
#menu #profile #avatar{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#menu #profile #avatar img{
    border-radius: 50%;
    width: 60%;
}
#menu #profile #avatar,#menu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;

}
/*lateral-navigation*/
#menu #menu-navigation{
    overflow: hidden;
}
#menu #menu-navigation .navigation{
    width: var(--width);
}
#menu #menu-navigation .navigation .icon{
    display: inline-block;
}
#menu #menu-navigation .navigation .icon,#menu #menu-navigation .navigation .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#menu #menu-navigation .navigation a{
    display: block;
}
#menu #menu-navigation .navigation a:hover{
    background-color: var(--hovercolor);
}
#menu #menu-navigation .navigation .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#menu #menu-navigation .navigation .icon i{
    width: 100%;
}
#menu #menu-navigation .navigation .title{
    padding: var(--padding) 0;
}
#menu #menu-navigation .separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}
.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px #000011;
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100%-50px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    padding-right: 150px;
}
.menu-expanded #profile #avatar{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}

/*superior*/
.sup{
    background-image: url(../IMAGES/fondo.jpg);
    box-shadow:0 1px 1px #df5e08;
    margin-bottom: 20px;
}
.table{
    text-align: center;
}
/*timeline*/
.main-timeline8 {
    overflow: hidden;
    position: relative
}

.main-timeline8:after,
.main-timeline8:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline8:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #d6d5d5;
    position: absolute;
    top: 30px;
    left: 50%
}

.main-timeline8 .timeline {
    width: 50%;
    float: left;
    padding-right: 30px;
    position: relative
}

.main-timeline8 .timeline-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fe6847;
    position: absolute;
    top: 5.5%;
    right: -17.5px
}

.main-timeline8 .date {
    display: block;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    background: #fe6847;
    text-align: center;
    position: relative
}

.main-timeline8 .date:before {
    content: "";
    border-top: 35px solid #f59c8b;
    border-left: 35px solid transparent;
    position: absolute;
    bottom: -35px;
    left: 0
}

.main-timeline8 .timeline-content {
    padding: 30px 20px;
    margin: 0 45px 0 35px;
    background: #f2f2f2
}

.main-timeline8 .title {
    font-size: 19px;
    font-weight: 700;
    color: #504f54;
    margin: 0 0 10px
}

.main-timeline8 .description {
    font-size: 14px;
    color: #7d7b7b;
    margin: 0
}

.main-timeline8 .timeline:nth-child(2n) {
    padding: 0 0 0 30px
}

.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
    right: auto;
    left: -14.5px
}

.main-timeline8 .timeline:nth-child(2n) .date {
    border-radius: 50px 0 0 50px;
    background: #7eda99
}

.main-timeline8 .timeline:nth-child(2n) .date:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0
}

.main-timeline8 .timeline:nth-child(2n) .timeline-content {
    text-align: right;
    margin: 0 35px 0 45px
}

.main-timeline8 .timeline:nth-child(2) {
    margin-top: 170px
}

.main-timeline8 .timeline:nth-child(odd) {
    margin: -175px 0 0
}

.main-timeline8 .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline8 .timeline:first-child,
.main-timeline8 .timeline:last-child:nth-child(even) {
    margin: 0
}

.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
    border-color: #7eda99
}

.main-timeline8 .timeline:nth-child(2n) .date:before {
    border-top-color: #92efad
}

.main-timeline8 .timeline:nth-child(3n) .timeline-icon {
    border-color: #8a5ec1
}

.main-timeline8 .timeline:nth-child(3n) .date {
    background: #8a5ec1
}

.main-timeline8 .timeline:nth-child(3n) .date:before {
    border-top-color: #a381cf
}

.main-timeline8 .timeline:nth-child(4n) .timeline-icon {
    border-color: #f98d9c
}

.main-timeline8 .timeline:nth-child(4n) .date {
    background: #f98d9c
}

.main-timeline8 .timeline:nth-child(4n) .date:before {
    border-top-color: #f2aab3
}

@media only screen and (max-width:767px) {
    .main-timeline8 {
        overflow: visible
    }

    .main-timeline8:before {
        top: 0;
        left: 0
    }

    .main-timeline8 .timeline:nth-child(2),
    .main-timeline8 .timeline:nth-child(even),
    .main-timeline8 .timeline:nth-child(odd) {
        margin: 0
    }

    .main-timeline8 .timeline {
        width: 100%;
        float: none;
        padding: 0 0 0 30px;
        margin-bottom: 20px !important
    }

    .main-timeline8 .timeline:last-child {
        margin: 0 !important
    }

    .main-timeline8 .timeline-icon {
        right: auto;
        left: -14.5px
    }

    .main-timeline8 .date {
        border-radius: 50px 0 0 50px
    }

    .main-timeline8 .date:before {
        border-left: none;
        border-right: 35px solid transparent;
        left: auto;
        right: 0
    }

    .main-timeline8 .timeline-content {
        margin: 0 35px 0 45px
    }
}



